/*!
 * Footer content
 */

.footer {
    background: url(../images/star-sky.png), url(../images/footer-bg.png) 0 0 no-repeat;
    padding-top: 60px;
    @media screen and (max-width: 992px) {
        background: url(../images/star-sky.png), $accent-gradient;
    }
    .footer-phone-num {
        .container {
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 456px;
                height: 327px;
                background: url(../images/footer-img.png);
                right: 200px;
                bottom: 87px;
                @media screen and (max-width: 1200px) {
                    display: none;
                }
                @media screen and (max-width: 1400px) {
                    right: 100px;
                }
                @media screen and (max-width: 1600px) {
                    right: 30px;
                }
            }
        }
    }
    .footer-phone-num {
        margin: 0;
    }
    .footer-phone {
        font-size: 2.25em;
        color: $font-color-light;
        font-variant: small-caps;
        text-align: center;
        letter-spacing: 0.5px;
        @media screen and (max-width: 400px) {
            font-size: 1.75em;
        }
    }
    .footer-phone-icon {
        display: inline-block;
        transform: translate(-12px, 6px);
    }

    .footer-menu-col {
        font-size: 1.125em;
        color: $font-color-light;
        padding: 30px 0;
        @media screen and (max-width: 992px) {
            text-align: center;
        }
        p {
            text-transform: uppercase;
        }
    }
    ul {
        li {
            a {
                font-size: 1.125em;
                font-variant: small-caps;
                transition: .3s;

                &:hover {
                    color: #fff;
                    transition: .3s;
                    border-bottom: 1px dashed #fff;
                }
            }
        }
    }
    .navbar-socials {
        margin-top: 120px;
        // @media screen and (max-width: 768px) {
        //     float: none;
        //     margin-top: 0;
        // }
        @media screen and (max-width: 1200px) {
            float: none;
            margin-top: 0;
        }
    }
    .bottom-line {
        height: 64px;
        background-color: rgb(36, 49, 110);
        padding: 10px;
        color: #fff;

        & a {
            transition: .3s;
            &:hover {
                color: #fff;
                transition: .3s;
                border-bottom: 1px dashed #fff;
            }
        }
    }
}